* {
    margin: 0 0 0 0;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

:root {
    --toastify-color-dark: #3a3a3c;
}

body {
    background-color: rgb(18, 18, 19);
}

.App {
    width: 100%;
    max-width: 72vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.Field-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    overflow: hidden;
}

.Field {
    box-sizing: border-box;
    display: grid;
    padding: 10px;
    grid-row-gap: 5px;
    align-content: center;
    justify-content: center;
}

.WordRow {
    column-gap: 5px;
    display: grid;
    grid-template-columns: 7vh 7vh 7vh 7vh 7vh;
    height: 7vh;
}

.LetterCell {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    font-weight: bold;
    box-sizing: border-box;
    color: #d7dadc;
    text-transform: uppercase;
    user-select: none;
}

.LetterCell[data-state='empty'] {
    border: 2px solid #3a3a3c;
}

.LetterCell[data-state='tbd'] {
    background-color: #121213;
    border: 2px solid #565758;;
    color: #d7dadc;
    animation: popUp 0.3s;
}

.LetterCell[data-state='correct'] {
    background-color: #538d4e;
    animation: flipIn 0.7s;
    animation-timing-function: ease-in;
    backface-visibility: hidden;
}

.LetterCell[data-state='present'] {
    background-color: #b59f3b;
    animation: flipIn 0.7s;
    animation-timing-function: ease-in;
    backface-visibility: hidden;
}

.LetterCell[data-state='missing'] {
    background-color: #3a3a3c;
    animation: shake 0.3s;
}

@keyframes popUp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
}

@keyframes flipIn {
    0% {
        transform: rotateX(-120deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

@keyframes shake {
    25%, 75% {
        transform: translate3d(4px, 0, 0);
    }

    50% {
        transform: translate3d(-4px, 0, 0);
    }
}

.keyboard {
    margin: 0 8px;
    user-select: none;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.row {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
    height: auto;
}

button {
    font-size: 2vh;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 6px 0 0;
    height: 5.5vh;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    background-color: #818384;
    color: #d7dadc;
    flex: 1;
    text-transform: uppercase;
}

button:focus {
    outline: none;
}

.one {
    flex: 0.586;
}

.one-and-a-half {
    flex: 1.5;
    font-size: 1.7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button[data-state='correct'] {
    background-color: #538d4e;
}

button[data-state='present'] {
    background-color: #b59f3b;
}

button[data-state='missing'] {
    background-color: #3a3a3c;
}

.Countdown {
    color: white;
    text-align: center;
    font-size: 3vh;
}

h1, h2 {
    font-size: 3vh;
    text-transform: uppercase;
    text-align: center;
    margin: 1vh;
    display: contents;
}

@keyframes pop {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(0);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
}

.modal-wrapper {
    animation: opacity 2s;
    background-color: rgba(18, 18, 18, 0.7);
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.Stats {
    animation: pop 2s;
    color: white;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    padding: 1vh 1vh 1.5vh 1vh;
    border-radius: 8px;
    background-color: rgba(91, 91, 91, 0.8);
}

.stat {
    width: 20%;
}

.numbers {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-bottom: 1vh;
}

.value {
    font-size: 4vh;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.05em;
    font-variant-numeric: proportional-nums;
}

.label {
    font-size: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.attempts {
    width: 80%;
}

.attempt {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    font-size: 1.5vh;
    line-height: 2vh;
}

.graph {
    width: 100%;
    padding-left: 4px;
}

.graph-bar {
    padding-right: 1%;
    height: 100%;
    width: 5%;
    position: relative;
    background-color: #282828;
    display: flex;
    justify-content: flex-end;
}

