* {
    margin: 0 0 0 0;
    background-color: rgb(18, 18, 19);
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.App {
    width: 100%;
    max-width: 72vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.Field-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    overflow: hidden;
}

.Field{
    box-sizing: border-box;
    display: grid;
    padding: 10px;
    grid-row-gap: 5px;
    align-content: center;
    justify-content: center;
}

.WordRow {
    column-gap: 5px;
    display: grid;
    grid-template-columns: 7vh 7vh 7vh 7vh 7vh;
    height: 7vh;
}

.LetterCell {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    font-weight: bold;
    box-sizing: border-box;
    color: #d7dadc;
    text-transform: uppercase;
    user-select: none;
}

.LetterCell[data-state='empty'] {
    border: 2px solid #3a3a3c;
}

.LetterCell[data-state='tbd'] {
    background-color: #121213;
    border: 2px solid #565758;;
    color: #d7dadc;
    animation: popUp 0.3s;
}

.LetterCell[data-state='correct'] {
    background-color: #538d4e;
    animation: flipIn 0.7s;
    animation-timing-function: ease-in;
    backface-visibility: hidden;
}

.LetterCell[data-state='present'] {
    background-color: #b59f3b;
    animation: flipIn 0.7s;
    animation-timing-function: ease-in;
    backface-visibility: hidden;
}

.LetterCell[data-state='missing'] {
    background-color: #3a3a3c;
    animation: shake 0.3s;
}

@keyframes popUp {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.8);
    }
}
@keyframes flipIn {
    0% {
        transform: rotateX(-120deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}
@keyframes shake {
    25%, 75% {
        transform: translate3d(4px, 0, 0);
    }

    50% {
        transform: translate3d(-4px, 0, 0);
    }
}

.keyboard {
    margin: 0 8px;
    user-select: none;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.row {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    /* https://stackoverflow.com/questions/46167604/ios-html-disable-double-tap-to-zoom */
    touch-action: manipulation;
    height: auto;
}

button {
    font-size: 2vh;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 6px 0 0;
    height: 5.5vh;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    background-color: #818384;
    color: #d7dadc;
    flex: 1;
    text-transform: uppercase;
}

button:focus {
    outline: none;
}

.one {
    flex: 0.586;
}

.one-and-a-half {
    flex: 1.5;
    font-size: 1.7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button[data-state='correct'] {
    background-color: #538d4e;
}

button[data-state='present'] {
    background-color: #b59f3b;
}

button[data-state='missing'] {
    background-color: #3a3a3c;
}
